@(premiumProducts: List[io.sphere.client.shop.model.Product])

@import io.sphere.client.shop.model.ImageSize

@main("Welcome", "index") {
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">

        @premiumProducts.zipWithIndex.map { case (product, index) =>
            <div class="item @("active".when(index == 0))">
            @tags.scaledImage(product.getFeaturedImage.getSize(ImageSize.ZOOM))
                <div class="container">
                    <div class="carousel-caption">
                        <h1>@product.getName</h1>
                        <p></p>
                        <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                    </div>
                </div>
            </div>
        }


        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->


}